a {
    margin-left: 2vw;
    margin-right: 10vw;
    letter-spacing: 0.5rem;
    text-decoration: none !important;
    color: white !important;
}

nav {
    font-size: 3rem;
}

li {
    font-size: 1.5rem;
}